:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-rosa: #FFB6C1;
    --botao-rosa-efeito: #FFA0B0;
    --cor-de-fundo: #F9F5F2;
    --fonte-principal: 'Inter', sans-serif;
    --texto-suave: #606060;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--texto-suave);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/BackgroundBebe.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-rosa);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--botao-rosa);
    color: var(--botao-rosa);
}

.container__aviso {
    font-size: 12px;
    color: var(--texto-suave);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
    color: var(--botao-rosa);
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
    border-radius: 10px;
}

.secundario {
    align-items: center;
    margin: 0 8em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 36px;
    color: var(--botao-rosa);
    margin-bottom: 0.5em;
}

.descricao__texto {
    color: var(--texto-suave);
    font-size: 18px;
    line-height: 1.5em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 36px;
    color: var(--botao-rosa);
}

.lista__item {
    font-size: 24px;
    color: var(--botao-rosa);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--botao-rosa);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--texto-suave);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-rosa-efeito);
}

.lista__link a:active {
    color: #FF88A0;
}

.container__botao:hover {
    background-color: var(--botao-rosa-efeito);
    color: var(--branco-principal);
}
